@import "tailwindcss";

::-webkit-scrollbar {
    width: 5Px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #fbf5ff;
}
::-webkit-scrollbar-thumb {
    background: #f3e8ff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #dab2ff;
}